/* Estilo para el Header*/
.header {
  display: flex;
  justify-content: center;
  background-image: url("./img/img_02.jpg");
  background-color: transparent !important;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1%;
}

/* Estilo para el navbar*/
.navbar {
  background-color: transparent !important;
  width: 100%;
  margin: 0 auto;
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: rgba(219, 221, 88, 0.897) !important;
  text-shadow: 5px 3px 4px rgba(255, 253, 253, 0.942);
}

.navbar .nav-link:hover,
.navbar .nav-link:active,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:active {
  color: rgba(219, 221, 88, 0.897) !important;
  font-weight: bolder;
  text-decoration: none;
}

/* Estilo para el menu dropdown */
.dropdown-menu {
  background-color:rgba(10, 10, 10, 0.47) !important;
}

.dropdown-menu .dropdown-item {
  background-color: transparent !important;
  color: rgba(255, 252, 50, 0.995) !important;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:active {
  background-color: transparent !important;
  color: rgba(236, 240, 12, 0.847) !important;
  font-weight: bolder;
  text-shadow: 5px 3px 4px rgba(255, 255, 255, 0.888);
}


/* Estilo para el Navbar movil*/
.navbar-toggler-icon,
.navbar-toggler,
.collapsed {
  color: rgb(252, 252, 252) !important;
}


/* Estilo para el Main*/
.main {
  margin-top: 0%;
  padding: 10% 1% 1% 1%;
  background-image: url("./img/img_05.jpg");
  background-size: 100% auto;
}

.texto-presentacion {
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  background-color: #9791913d;
  border-radius: 1em;
  color: #a4965271;
  padding: 1%;
}
.texto-presentacion:hover {
  background-color: #000000a5;
  color: #fea562;
  padding: 1%;
}

/* Estilo para el logo de enlace a la API de la NASA*/
.nasa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9;
  bottom: 0;
  right: 0;
  padding: 1%;
  width: 15%;
  height: auto;
  max-width: 100%;
  min-height: 20px;
}

.image {
  float: right;
  margin-right: 15%;
  width: 100%;
  max-width: 70%;
  min-width: 20px;
  height: auto;
}

.text-container {
  box-shadow: 0 010px 10px 10px rgba(255, 255, 255, 0.437);
  border-radius: 10px 0 10px 0;
  padding-left: 3%;
  padding-right: 3%;
  color: rgb(159, 236, 37);
  background-color: rgba(128, 128, 128, 0.648);
  font-size: 70%;
}


/* Estilo para el carousel*/
h2 {
  color: #fea562 !important;
  text-align: center;
  background-color: #00000022;
  padding: 1%;
}
h2:hover {
  text-shadow: 5px 3px 4px rgba(255, 253, 253, 0.635);
  font-weight: bolder;
}

.carousel {
  box-shadow: 10px 20px 40px rgba(245, 239, 239, 0.588);
  border-radius: 1.5em;
  height: 800px;
  width: 100%;
  position: relative;
  z-index: 1;
}


/* Estilo para el Footer*/
.footer {
  margin: 0%;
  padding: .5%;
  background-image: url("./img/img_06.jpg");
  background-size: cover;
  background-position: center;
}

.footer p {
  line-height: 0.5;
  color: rgba(219, 221, 88, 0.897);
}


/* Estilo para iconos de redes*/
.icono {
  color: #ede8e8;
  transition: transform 0.2s; 
  margin: 0 10px 0 0;
}

.icono:hover,
.icono:focus {
  color: #e9e197;
  transform: scale(1.7);
}
