/*////////////////////////////////////////////////////////////////////////*/
/* Estilos generales*/
body {
  line-height: 1;
  padding-top: 4.5em;
  margin-top: 0%;
  background-image: url("./img/img_05.jpg");
  background-position: top ;
}

h1, h2, h2, h4 {
  font-size: calc(70% + 1vw);
}

p {
  font-size: calc(35% + 0.8vw);
}

section p {
  min-width: 20em;
}
p strong,
label{
  font-size: calc(50% + 0.8vw);
}
strong{
  text-decoration: underline;
}


/* Estilo para el Header*/
.header {
  display: flex;
  justify-content: center;
  background-image: url("./img/img_02.jpg");
  background-color: transparent !important;
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1%;
}

/* Estilo para el navbar*/
.navbar {
  background-color: transparent !important;
  width: 100%;
  margin: 0 auto;
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: rgba(219, 221, 88, 0.897) !important;
  text-shadow: 5px 3px 4px rgba(255, 253, 253, 0.942);
}

.navbar .nav-link:hover,
.navbar .nav-link:active,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:active {
  color: rgba(219, 221, 88, 0.897) !important;
  font-weight: bolder;
  text-decoration: none;
}

/* Estilo para el menu dropdown */
.dropdown-menu {
  background-color:rgba(10, 10, 10, 0.47) !important;
}

.dropdown-menu .dropdown-item {
  background-color: transparent !important;
  color: rgba(255, 252, 50, 0.995) !important;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:active {
  background-color: transparent !important;
  color: rgba(236, 240, 12, 0.847) !important;
  font-weight: bolder;
  text-shadow: 5px 3px 4px rgba(255, 255, 255, 0.888);
}


/* Estilo para el Navbar movil*/
.navbar-toggler,
.navbar-toggler .collapsed {
  border-color: rgb(237, 186, 97) !important;
  border-width: 2.5px !important;
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgb(237, 186, 97)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}


/* Estilo para el Main*/
.main {
  max-width: 98%;
  margin-left: 1%;
}

.texto-presentacion {
  text-shadow: 2px 2px 3px rgb(86, 84, 84);
  border-radius: 1em;
  background-color: #000000e6;
  color: #fea562;
  padding: 1%;
  position: fixed;
  z-index: 10;
  top: 20%;
  left: 1%;
  width: 98%;
  padding-inline: 1em;
}

h1{
  text-align: center;
}

h1:hover {
  font-weight: bold;
}

.notas {
  color: #f6ee09;
  font-weight: bold;
}

/* Estilo para el logo de enlace a la API de la NASA*/
.nasa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 8;
  bottom: 0;
  right: 0;
  padding: 1%;
  margin-right: .5%;
  width: 15%;
  height: auto;
  max-width: 20%;
  min-height: 20px;
}

.image {
  float: right;
  margin-right: 15%;
  width: 100%;
  max-width: 70%;
  min-width: 20px;
  height: auto;
}

.text-container {
  box-shadow: 0 10px 10px 10px rgba(255, 255, 255, 0.437);
  border-radius: 10px 0 10px 0;
  padding-left: 3%;
  padding-right: 3%;
  color: rgb(174, 251, 49);
  font-size: 70%;
}


/* Estilo para las secciones*/
section {
  color: #fb8e3a !important;
  text-align: center;
  background-color: #00000059;
  padding: 1% 0 1% 0;
  margin-top: 0.3% ;
  border-radius: 0.5em;
  min-width: 20em;
}

h2:hover {
  text-shadow: 5px 3px 4px rgba(255, 253, 253, 0.5);
  font-weight: bolder;
}


/* Estilo para el carousel*/
.carousel {
  box-shadow: 10px 20px 40px rgba(245, 239, 239, 0.588);
  border-radius: 1em;
  width: 100%;
  z-index: 1;
}

/* Estilo para la galeria*/
.galeria {
  /* padding-left: calc(10% + 1vw); */
  min-width: 20em;
  max-width: 90%;
}


/* Estilo para la tabla*/
.table-container th {
  color: rgb(218, 201, 201) !important;
  background-color: #244190 !important;
  text-align: center;
}
.table-container {
  display: flex;
  justify-content: center;
}
.center-table {
  align-items: center;
}


/* Estilo para el video*/
.video-container {
  max-width: 100%;
  max-height: auto;
  color: #f6ee09;
}

video {
  width: 100%;
  height: auto;
  min-width: 10em;
}

/* Estilo para el Footer*/
.footer {
  margin: 0%;
  padding: .5%;
  background-image: url("./img/img_06.jpg");
  background-size: cover;
  background-position: center;
}

.footer p {
  line-height: 0.5;
  color: rgba(219, 221, 88, 0.897);
}

/* Estilo para iconos de redes*/
.icono {
  color: #ede8e8;
  transition: transform 0.2s; 
  margin: 0 10px 0 0;
}

.icono:hover,
.icono:focus {
  color: #e9e197;
  transform: scale(1.7);
}


/*** ESTILOS PARA LOS COMPONENTES DE LA API ***/

/* Estilos para formularios*/
.api{
  padding: 0 5em 0 5em;
  color: #f6ee09;
  font-weight: bolder;
}

.busca-api form{
  max-width: 30em;
  min-width: 10em;
}

/* Estilo para la imagen del día*/
.dia-api {
  text-align: justify;
  /* min-width: 20em; */
}

.dia-api p{
  font-style: italic;
  font-weight: normal;
  max-height: max-content;
}
.dia-api img {
  border-radius: 1em;
  box-shadow: 0 10px 10px 10px rgba(255, 255, 255, 0.437);
  max-height: calc(70% + 1vw);
  /* min-width: 20em; */
}